<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           

           <bean id="engineobj" class="com.capg.springxml.Engine"></bean> 
           
            <bean id="bike" class="com.capg.springxml.Bike">
           		<constructor-arg name="engine" ref="engineobj"></constructor-arg>
           </bean> 
           

           <bean id="car" class="com.capg.springxml.Car">
           		<constructor-arg name="engine" ref="engineobj"></constructor-arg>
           </bean> 
           
           
</beans>           