<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           
           <!-- loose coupling by bean example
           <bean id="engine" class="com.capg.springxml.Car"></bean> -->
           
           
           <!-- DI using setter method -->
           <!-- <bean id="bike" class="com.capg.springxml.Bike">
           		<property name="color" value="Red"></property>
           </bean> -->
           
           <!-- DI using constructor -->
           <bean id="car" class="com.capg.springxml.Car">
           		<constructor-arg name="color" value="red"></constructor-arg>
           </bean>
           
</beans>           